{% extends "base.html" %}

{% block content %}
  <h2>@{{ driver.username }}</h2>
  <h3>{{ driver.first_name }}'s cars</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Manufacturer</th>
        <th scope="col">Model</th>
      </tr>
    </thead>
    <tbody>
      {% for car in driver.cars.all %}
        <tr>
          <th scope="row"><a href="{% url 'taxi:car-detail' car.id %}">{{ car.id }}</a></th>
          <td>{{ car.manufacturer.name }}</td>
          <td>{{ car.model }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
